@import '~bootstrap/scss/bootstrap';

header {
    height: 60px;
}

.main-wrapper {
    height: calc(100vh - 60px);
}

aside {
    width: 250px;
    height: 100%;
    ul {
        list-style: none;
        a {
            text-decoration: none;
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
